

div.game-board
	div.game-row(ng-repeat="row in board")
		div.game-cell(ng-repeat="cell in row")
			// button for setting up the board
			button.btn.btn-default.btn-block(
				ng-disabled="isSetupArea(cell)",
				ng-hide="playerReady",
				ng-click="setupCell(cell)",
				ng-class="{'btn-danger':!isCellPieceIsYours(cell,true),'btn-primary':isCellPieceIsYours(cell,false),'active':(setupHand==cell.piece && setupHand!==null)}"
			) &nbsp;{{setupCellPreview(cell)}}&nbsp;

button.btn.btn-primary(ng-disabled="!isPlayerReady()", ng-click="setReady(true)") Ready


// setting up pieces
button.btn(
	ng-repeat="p in pieces",
	ng-click="setupHold(p)",
	ng-hide="isPieceSettedUp(p) || !p.yours",
	ng-class="{'btn-default':p!=setupHand,'btn-primary':p==setupHand}"
) {{rankToName(p.rank)}}